#######################
# APP DEVELOPMENT ENV #
#######################

APP_ADDRESS=:0.0.0.0
APP_PORT=:8000

#######################
#    DATABASE  ENV    #
#######################

DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_TIMEZONE=

#######################
#       JWT ENV       #
#######################

JWT_EXPIRE=
JWT_SECRET=
JWT_ISSUER=

#######################
#       LOG ENV       #
#######################

LOG_PATH=
LOG_EXPIRE=
LOG_ROTATE=